<!doctype html>
<html ng-app>
	 
	<head>
		<link href="css/angular-bootstrap.css" rel="stylesheet">
		<style type="text/css">
		[ng\:cloak], [ng-cloak], .ng-cloak {
			display: none !important;
		}
		</style>
	</head>
	
	
	
	<body>
		<div class="wrapper" ng-controller="homeController">
		<h3> Reset Password </h3> <br>
			<form>
				 <div class="col-xs-3">
					  <label>Email:</label>
					  <input type="text" name="email"  class="form-control" ng-model="reset.email" id="lg"><br>
					  
					  <a class="btn btn-primary" ng-click="resetPassword()">Reset password</a>
				  </div>
			</form>
			
		</div>
	</body>
</html>